<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
	<!-- 引入config配置文件 -->
	<context:property-placeholder location="classpath:appConfig.properties" ignore-unresolvable="true"/>
	   
    <bean id="jsonFieldXmlsLoader" class="org.bidtime.lucene.ldbc.sql.xml.JsonFieldXmlsLoader"
          init-method="init" lazy-init="false">
        <property name="packageRoot" value="org.bidtime.lucene"/>
        <property name="extName" value=".xml"/>
        <property name="recursive" value="true"/>
    </bean>

	<context:component-scan base-package="org.bidtime" />

    <bean id="luceneAnalyzer" class="org.wltea4pinyin.analyzer.lucene.IKAnalyzer4PinYin">
        <constructor-arg index="0" value="true"/>
    </bean>
    
    <bean id="luceneCreate" class="org.bidtime.lucene.base.create.LuceneCreate">
        <constructor-arg type="org.apache.lucene.analysis.Analyzer" ref="luceneAnalyzer"/>
        <constructor-arg type="java.lang.String" value="${lucene.index.part.path}"/>
        <constructor-arg type="java.lang.Boolean" value="true"/>
    </bean>
    
    <bean id="luceneSearch" class="org.bidtime.lucene.base.search.LuceneSearch">
        <constructor-arg type="org.apache.lucene.analysis.Analyzer" ref="luceneAnalyzer"/>
        <constructor-arg type="java.lang.String" value="${lucene.index.part.path}"/>
        <constructor-arg type="java.lang.Boolean" value="true"/>
    </bean>
    
</beans>
